body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.tb{
    width: 100%;
    text-align: left;
}
.tb td{
    padding-right: 20px;
    width: 50%;
}
.inner{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 50px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

input[type='number'], select{
    border: none;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

#btn{
    margin-top: 5%;
    width: 170px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#result{
    display: none;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.addon{
    display: block !important;
}